<!-- multistep form -->
{% load static %}
<link rel="stylesheet" href="{%static "css/style1.css" %}">
<style>

	img{
  max-width:180px;
}
input[type=file]{
padding:6px;
background:#2d2d2d;}

	</style>

<form id="msform" action="/data/" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- progressbar -->
  <ul id="progressbar">
     <li class="active">Name</li>
     <li>photos</li>
      <li>Personal Details</li>
      <li>Family &amp; Friends</li>
    <li>Social Profiles</li>
    <li>For Me</li>
      <li>ThankYou</li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Name</h2>
    <h3 class="fs-subtitle">your sweet name add here...</h3>
    <input type="text" name="Firstname" placeholder="Enter First name"  required>
    <input type="text" name="Lastname" placeholder="Enter Last name" required />
    <input type="text" name="Nickname" placeholder="Enter Nick name"  required>
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">photos</h2>
    <h3 class="fs-subtitle">You Look Awsome...</h3>
    <img id="blah" src="http://placehold.it/180" alt="your image" /><br>

	<input type='file' onchange="readURL(this);"  style ="width: 180px;" name="myfiles" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
   <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <input type="number" name="ph" placeholder="Enter Phone Number" required />
    <textarea name="add" placeholder="Describe your address here..." required></textarea>
    <input type="date" name="dateofbirth" placeholder="date of birth" required />
    <input type="text" name="zodiacsign" placeholder="Zodiac sign" required />
   MALE <input type="radio" name="gender" value="Male" class="gender" required />
   FEMALE <input type="radio" name="gender" value="Female" class="gender" required />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Family &amp; Friends</h2>
    <h3 class="fs-subtitle">family & friends are Everything...</h3>
    <input type="text" name="fathername" placeholder="Father name"  required />
    <input type="text" name="mothername" placeholder="Mother name"  required />
    <input type="text" name="brothername" placeholder="Brother name" required />
    <input type="text" name="sistername" placeholder="Sister name" required />
    <input type="text" name="Bestfriendname" placeholder="Bestfriend name"  required />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Your presence on the social network</h3>
    <input type="text" name="twitter" placeholder="Twitter" />
    <input type="text" name="facebook" placeholder="Facebook" />
    <input type="text" name="instagram" placeholder="Instagram" required />
    <input type="email" name="txtmail" placeholder="Enter Email" required />
  <input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
<h2 class="fs-title">For Me</h2>
<h3 class="fs-subtitle">let me know what u know about me...</h3>
<textarea placeholder="About me...."  name="about" rows="2" cols="50" required></textarea>
<input type="text" name="Relation" placeholder="relation" required />
    <input type="text" name="like" placeholder="likes on me" required />
<textarea placeholder="Describe your Suggestion here..."  name="suggestion" rows="2" cols="50" ></textarea>
<input type="button" name="previous" class="previous action-button" value="Previous" />
<input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
<fieldset>
  <h2 class="fs-title">ThankYou</h2>
<h3 class="fs-subtitle">I hope you enjoy this.</h3>
<input type="button" name="previous" class="previous action-button" value="Previous" />
 <input type="submit" name="s1" class="green" value="Submit" />
 </fieldset>
 </form>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static "js/javascript.js" %}"></script>
<script>
 function readURL(input) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

               reader.onload = function (e) {
                   $('#blah')
                       .attr('src', e.target.result);
               };

               reader.readAsDataURL(input.files[0]);
           }
       }

 </script>
 <script src="{% static "js/SmoothScroll.min.js" %}"></script>

 <script src="{% static "js/bootstrap.js" %}"></script>
 <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
 <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
 <script src="{% static "js/jquery-ui.js" %}"></script>
 <script src="{% static "js/popper.min.js" %}"></script>
